<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <style>
        .mannnaka {
            width: 50%;
            margin: auto;
            text-align: center;
        }
        </style>
        <form action="/add" method="post">
            <div class="mannnaka">
                <h2 class = apuri>~cleanUP!~</h2>
                <h3 width="100px" height="10%">自分の身の回りの物を管理する
                このアプリは収納する際に収納アプリです。
                    写真を登録してどこに何がどのくらいあるのかすぐに便利に分かるようにしましょう！
                    <dr>
                </h3>
                <img src="https://webcommu.net/images/acphoto-main.jpg" alt="" width="100%" height="100%">
                <h1>身の周りの物を管理しよう！</h1>
                
            </div>
            <div>
                <table>
                    <tr>
    
                    </tr>
                    <tr>
                        <td><h6><img src="https://2.bp.blogspot.com/-7LvJSuvL3YM/XI9UArjLYnI/AAAAAAABR28/m18hSp-lItQZZWebh2AwmB-iSnx0NYZBwCLcBGAs/s400/tana_seiriseiton_no.png" alt="" width="350px" height="400px"></td>
                            <td><h2>　整頓</h2>
                                <br>
                                <img src="https://image.freepik.com/free-icon/no-translate-detected_318-25265.jpg" alt="" width="100px" height="100px">
                            </td>
                        <td></td>

                        <td><img src="https://2.bp.blogspot.com/-N4rQIy-W3-Y/XI9UBrqXNKI/AAAAAAABR3A/FttFTP-sD58cGyhNAsw41Uk0QqK5F1KSgCLcBGAs/s800/tana_seiriseiton_yes.png" alt="" width="350px" height="400px"></p></td>
                        <td><h2>身の周りの物を綺麗に、簡単にまとめよう！</h2>
                            <h4>　　　　写真と情報を入れ得て簡単登録！
                         <br>
                            　　　　家の物を分かりやすくしよう！
                            </h4>
                        </td>
                    </tr>
                </table>

                <table>
                    <h2 style="text-align:right">管理　　　　　　　　</h2>
                    <p style="text-align:right" ><img src="https://1.bp.blogspot.com/-hyImSdUxOLI/X9GX6aMO0RI/AAAAAAABcq8/tlg9JiCh0LUWLuqU0SA8gW77cENAQiQxwCNcBGAsYHQ/s400/building_naya_souko.png" alt=""></p>
                </table>
                <div class="bunn">
                <h2>表で見て何がどこにあるかを分かるようにしよう！</h2>
                <h4>何がどこにあるかををいつでも把握できる</h4>
         
                </div>
        </form>
    {% endblock %}

</body>
</html>