{% extends "layout.html" %}
    {% block content %}
    <div class="for-pc">
    <style>
        .mannnaka {
            width: 50%;
            margin: auto;
            text-align: center;
        }
      </style>
    <style>
         .migi {
            width: 50%;
            margin: auto;
            text-align:right;
        }
        </style>
        <form action="/add" method="post">
                        <div class="clearfix" >
                            <div class="inner clearfix"><img src="https://webcommu.net/images/acphoto-main.jpg" alt="あいうえお" width="100%"></div>
                            <h1><br><br></h1>
                            <div class="migi">
                                <h1  class = apuri>cleanUP!
                                            </h1>
                            <h2  class = apur2> 　自分の身の回りの物を管理する</h2>
                            </div>
                           
                        </div>
                        <h1 class="hr1"></h1>
            <div class="mannnaka">
                
                <h3 class="apuri3">cleanUP!とは
                </h3>
       
           <h2>物の写真を登録して一覧にし身の回りの物を管理するもの</h2>
           </div>
           <style>
            .example{
                list-style-type: none;
    
            }
            </style>

                <div class="clearfix" >
                    <ul class="example">
                        <h1>
                            <li>・身の回りの管理</li>
                            <li>・無駄をなくす</li>
                            <li>・明るい空間へ</li>
                    <div class="inner clearfix">
                        <img src="https://2.bp.blogspot.com/-7LvJSuvL3YM/XI9UArjLYnI/AAAAAAABR28/m18hSp-lItQZZWebh2AwmB-iSnx0NYZBwCLcBGAs/s400/tana_seiriseiton_no.png" alt width="350px" height="400px">

                        
    
                        <img src="https://2.bp.blogspot.com/-N4rQIy-W3-Y/XI9UBrqXNKI/AAAAAAABR3A/FttFTP-sD58cGyhNAsw41Uk0QqK5F1KSgCLcBGAs/s800/tana_seiriseiton_yes.png" alt width="350px" height="400px">
                    　　　　<img src="https://3.bp.blogspot.com/-AgqQ-_zIowo/U401H171PQI/AAAAAAAAg-I/Ob9Qu1qgcWs/s400/sagashimono.png" alt="" width="355" height="355">
                        　　　
                </div>
            </h1>
          
           </ul>
           </div>
           <h1 class="hr1"></h1>
           <div class="mannnaka">
           <h1 class="apuri3">↽主な機能⇀</h1>

           <!-- ログイン -->
           <!-- <div >
           <tr>
            <td>   
                <div class="box22">
                    <h1 class="zyuyou">ログイン</h1>
                    <h2>ログインボタンからログインすることが可能です</h2>
                   </div>
            </td>
            <td> -->
                <div class="box22">
                    <h1 class="zyuyou" >登録</h1>
                    <h2 >写真、情報を入れて簡単登録！</h2>
                    </div>
                </td>
                <td>
                <div class="box22">
               <h1 class="zyuyou">一覧</h1>
               <h2>登録した物を一覧としてみましょう。</h2>
                </div>
                </td>
           </tr>
        </div>
        </form>
    {% endblock %}
</div>