<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>syuunou</title>
    <link rel="stylesheet" href="/static/csas/style.css">
    <style>
        input {
        color: #B20000;
        font-size: 20px;
        }
        </style>
        
</head>
<body>
   
      <style>
        ul {
            width: 40%;
            margin: auto;
        }
        </style>
        <ul>
            <div class="text-image" style="background-image: url('https://pbs.twimg.com/media/EVjSxK_UYAAiEfS.jpg');">
                <p>収納管理</p>     
              </div>
            <h1 class = syuunounobunn>収納のアプリ</h1>
            <h2>身の周りの物を管理する </h2>
            <h1 class  = syuunounobunn>~収納アプリの説明~</h1>
            <h2>収納アプリとは
            　物を管理するアプリ。
            このアプリでは、写真で登録した物を
            どこにあるか教えてくれたり、物の量を
            教えてくれます。
            </h2>
     <a href="/syuunouapuri">収納のアプリ←</a>
     <ul>
</body>
</html>