{% extends "layout.html" %}
    {% block content %}
    <h1 style="padding-left:38%">身の周りの物を管理しよう！</h1>
      <br>          
<table>
    <tr>
        <th style="padding-left:10%">
            <h1 class="zyuyou">1.登録</h1>
            <h3>身の回りの写真、情報を、登録ボタンから登録しよう！</h3>
            <h3>写真、名前、場所、種類、メモ、日にちを書いて、追加しよう。</h3>
        </th> 
    </tr>
    </table>
<table>
        <th style="padding-left:400px">
            <h1 class="zyuyou">2.確認・把握</h1>
            <h3>登録した物を一覧としてみよう！</h3>
            <h3>検索や削除、編集をして、より分かりやすく見よう。</h3>
        </th>
    </tr>   
</table>
<table  style="padding-left:10%">
    <th>
        <h1 class="zyuyou">3.管理</h1>
        <h3>どこに何があるかをしり、部屋を綺麗に明るくしましょう！</h3>
        <h3>物を管理して綺麗な空間にしよう。</h3>
    </th>
</table>
{% endblock %}